//npm.pkg.github.com/:_authToken=926bcf99b98a00fa3d2aebf3dc88237c42b4c1cd
//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
legacy-peer-deps=true
